.wrapper {
  padding: 23px 23px 8px;
  background-color: var(--block-bg-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin-bottom: 15px;

  @media screen and (max-width: 590px) {
    padding: 15px 15px 0px;
  }
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 20px;

  @media screen and (max-width: 940px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}