:root {
  --block-bg-color: #FFFFFF;

  --main-color: #FF7905;
  --main-color-hover: #F67200;

  --text-color: #301D28;
  --secondary-text-color: #111111;

  --box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.08);

  --toastify-font-family: inherit;
  --toastify-text-color-light: #000000;
}