.wrapper {
  width: 65%;
  padding: 18px;
  background-color: var(--block-bg-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);

  @media screen and (max-width: 1200px) {
    width: 75%;
  }

  @media screen and (max-width: 1030px) {
    width: 100%;
  }
}

.sellerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.sellerIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerName {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.productName {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.reviewPreview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 23px;

  @media screen and (max-width: 768px) {
    margin-bottom: 32px;
  }
}

.reviewsCountText {
  position: relative;
  top: -1px;
  font-size: 12px;
  font-weight: 500;
  color: #5F4D54;
  opacity: 0.8;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 34px;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.goToFullProductDataWrapper {
  @media screen and (max-width: 768px) {
    margin-top: 24px;
  }
}

.contentSectionTitle {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.productDescription {
  font-size: 14px;
  color: #000000;
  line-height: 140%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.goToFullProductData {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.goToFullProductDataText {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
}