.container {
  padding-top: 40px;
  margin-bottom: 20px;
}

.header {
  padding: 18px 23px;
  background-color: var(--block-bg-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  position: relative;

  @media screen and (max-width: 1280px) {
    padding: 15px;
  }
}

.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: 550px) {
    margin-bottom: 0;
  }
}

.secondaryData {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.subCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  flex-grow: 1;
}

.subCategoryItem {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

.linkToSellerService {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
  flex-shrink: 0;
  &:hover {
    color: var(--main-color-hover);
  }
}