.list {
  display: flex;
  align-items: center;
  gap: 36.5px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    right: -22px;
    top: 2px;
    width: 7px;
    height: 11px;
    background-image: url('../../../assets/icons/breadcrumb.svg');
    background-repeat: no-repeat;
  }

  &:last-of-type {
    &::before {
      width: 0;
      height: 0;
    }
  }
}

.itemName {
  font-size: 14px;
  font-weight: 500;
  color: #6D6A6C;
}