.navigation {
  margin-top: 22px;
  margin-bottom: 40px;
  @media screen and (max-width: 1200px) {
    margin-bottom: 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.content {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 17px;
}