.wrapper {
  padding-bottom: 40px;
}

.container {
  background-color: var(--block-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

.promo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 54px;

  @media screen and (max-width: 860px) {
    padding-left: 30px;
  }

  @media screen and (max-width: 670px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-left: 0;
  }
}

.promoContent {
  padding: 51px 0;

  @media screen and (max-width: 860px) {
    padding: 26px 0;
  }

  @media screen and (max-width: 670px) {
    border-top: 1px solid #EFEFEF;
    width: 100%;
    padding: 17px 30px;
  }
}

.promoTitle {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  line-height: 130%;
  margin-bottom: 11px;

  @media screen and (max-width: 860px) {
    font-size: 16px;
    margin-bottom: 9px;
  }

  @media screen and (max-width: 428px) {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.promoDescription {
  font-size: 14px;
  color: #000000;
  line-height: 130%;
  margin-bottom: 24px;
  max-width: 361px;

  @media screen and (max-width: 860px) {
    font-size: 12px;
    max-width: 257px;
  }

  @media screen and (max-width: 670px) {
    max-width: none;
    margin-bottom: 17px;
  }

  @media screen and (max-width: 428px) {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.mobileAppLinksWrapper {
  display: flex;
  gap: 8.6px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  @media screen and (max-width: 860px) {
    flex-direction: row;
  }
}

.mobileAppLink {
  width: 176px;
  height: 40px;
  border-radius: 7px;

  @media screen and (max-width: 860px) {
    width: 137px;
    height: 31px;
  }

  @media screen and (max-width: 670px) {
    width: 100%;
    max-width: 168px;
    height: 38px;
  }
}

.mobileAppLinkGooglePlayIcon {
  width: 108.21px;
  height: 26.77px;

  @media screen and (max-width: 860px) {
    width: 72.55px;
    height: 17.95px;
  }

  @media screen and (max-width: 670px) {
    width: 103px;
    height: 25px;
  }
}

.mobileAppLinkAppStoreIcon {
  width: 96.51px;
  height: 25.05px;

  @media screen and (max-width: 860px) {
    width: 75px;
    height: 19px;
  }

  @media screen and (max-width: 670px) {
    width: 92px;
    height: 23px;
  }
}

.promoBanner {
  margin-right: 94px;
  max-width: 30rem;
  height: auto;
  object-fit: contain;

  @media screen and (max-width: 1000px) {
    margin-right: 0;
  }

  @media screen and (max-width: 940px) {
    max-width: 25rem;
  }

  @media screen and (max-width: 860px) {
    flex-grow: 1;
  }

  @media screen and (max-width: 768px) {
    max-width: 20rem;
  }

  @media screen and (max-width: 670px) {
    align-self: center;
    max-width: 100%;
    margin-right: 0;
    padding: 0 10px;
  }
}

.info {
  padding: 30px 54px;
  border-top: 1px solid #EFEFEF;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  @media screen and (max-width: 560px) {
    padding: 30px 15px;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}

.infoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
    display: block;
    flex-shrink: 0;
  }

  @media screen and (max-width: 560px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  @media screen and (max-width: 768px) {
    width: 184px;
    height: 46px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 560px) {
    margin-bottom: 15px;
  }
}

.infoLinksWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (max-width: 560px) {
    align-items: center;
  }
}

.supportLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 17px;
  border-radius: 10px;
  border: 1px solid var(--main-color);

  @media screen and (max-width: 768px) {
    padding: 9px 14px;
  }
}

.supportLinkText {
  font-size: 13px;
  font-weight: 600;
  color: var(--main-color);
}

.privacyPolicyLink {
  font-size: 13px;
  color: var(--text-color);
  text-decoration: underline;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }

  @media screen and (max-width: 560px) {
    align-items: center;
  }
}

.contactsText {
  font-size: 13px;
  color: var(--text-color);
  line-height: 130%;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.address {
  max-width: 350px;
  @media screen and (max-width: 560px) {
    text-align: center;
  }
}

.contactsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (max-width: 560px) {
    align-items: center;
  }
}

.contactsRow {
  display: flex;
  gap: 14px;
}

.contactsLink {
  font-weight: 500;
}