.wrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 7px;
}

.name {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.value {
  font-size: 14px;
  color: var(--text-color);
}