.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}